meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
title Student Details
link(rel="stylesheet", type="text/css", href="/css/style.css")
link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap.min.css")
nav.fixed-top
  ul
    li
      a(href="/logout") Logout
.cont4
    .header 
      h3 Student Profile
    .container
        .content4
        br
        form
            .form-row
             h2 Personal Information
                label.pic Profile Photo
                img.pPic(src='/ProfilePics/'+Profile.ProfilePic width="150px" height="170px")
                
                .form-group.col-md-6
                label.pI Name: 
                 span.data  #{Profile.surname +' '+ Profile.givenName}
                br
                label.pI Gender: 
                 span.data  #{Profile.gender}
                br
                label.pI Age: 
                 span.data  #{Profile.dob}
                br
                label.pI Country: 
                 span.data  #{Profile.country}
                br
                label.pI Place of Residence: 
                 span.data  #{Profile.residence}
            hr
            .form-row
             h2 Contact Information
                br 
                label.left Mobile Phone: 
                 span.data  #{Profile.phone}
                label.right Email: 
                 span.data  #{Profile.email}
            hr
            .form-row
             h2 Skills
                .form-group.col-md-6
                label.left - #{Profile.skills[0]}
                label.right - #{Profile.skills[1]}
                .form-group.col-md-6
                label.left - #{Profile.skills[2]}
                label.right - #{Profile.skills[3]}
            hr
            .form-row
             h2 Projects Involved in
                .form-group.col-md-6
                label.left - #{Profile.projects[0]}
                label.right - #{Profile.projects[1]}
                .form-group.col-md-6
                label.left - #{Profile.projects[2]}
                label.right - #{Profile.projects[3]} 
            hr
            a.btn2(href='/Students') close
            a.btn1(href='#') Print

script(src="bootstrap/jquery/jquery.min.js")
script(src="bootstrap/js/bootstrap.bundle.min.js")
